@{
    ViewBag.Title = "Top Ten";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>@ViewBag.Title</h1>
                <p>Here are the top 10 people who collected most of the ecocoins.</p><br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of coins collected</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sergei</td>
                            <td>120</td>
                        </tr>
                        <tr>
                            <td>Andrei</td>
                            <td>110</td>
                        </tr>
                        <tr>
                            <td>Ivan</td>
                            <td>90</td>
                        </tr>
                        <tr>
                            <td>Alex</td>
                            <td>85</td>
                        </tr>
                        <tr>
                            <td>Anna</td>
                            <td>85</td>
                        </tr>
                        <tr>
                            <td>Julia</td>
                            <td>70</td>
                        </tr>
                        <tr>
                            <td>Dave</td>
                            <td>65</td>
                        </tr>
                        <tr>
                            <td>Steve</td>
                            <td>60</td>
                        </tr>
                        <tr>
                            <td>Dawn</td>
                            <td>60</td>
                        </tr>
                        <tr>
                            <td>Julie</td>
                            <td>55</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</body>
</html>